<div class="navbar">
    <a class="active" href="/"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a> 
    <a href="/members"><i class="fa fa-address-card" aria-hidden="true"></i> Members Data</a> 
    <a href="/books"><i class="fa fa-book" aria-hidden="true"></i> Books Data</a> 
    <a href="/rentals"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Rentals Data</a> 
    <a href="/logout" id="navright"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a>
    <a href="/login" id="navright"><i class="fa fa-fw fa-user"></i> Login</a>
</div>